@charset "UTF-8";

/* 

Nomnivores

Author: Rik Kendell - @Rikki_Sixx
Version: 1.0;
URL: http://www.nomnivores.co.uk/

CONTENTS - STYLE.CSS
-----------------------------------------
1. SETUP
2. CUSTOM

*/


/* ==========================================================================
   1. Setup
   ========================================================================== */

@import "global";

